.n-nav-justified {
    width: 100%;
}

.n-nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.n-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.n-nav-justified > li {
    display: table-cell;
    width: 1%;
}
.n-nav-justified > li {
    float: none;
}
.n-nav-pills > li {
    float: left;
}
.n-nav > li {
    position: relative;
    display: block;
}